# Dependências locais
node_modules/
backend/node_modules/
frontend/node_modules/

# Arquivos de ambiente sensíveis
.env
backend/.env

# Builds locais
frontend/dist/
backend/dist/

# Sistema operacional
.DS_Store
